/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*MAIN CONTENT*/

/*PROPRIETA' BODY E LOGO*/
body{
    background-color: #F6F8F9;
}

.logo-container{
    background-color: white;
    width: 100%;
    padding: 7px 0px 2px 20px;
}

/*PROPRIETA' MAIN*/

main{
    background-color: white;
    width: 1000px;
    margin: 50px auto 0 auto;
    border-radius: 12px;
    padding-bottom: 2px;
}
/*SEZIONE DIV 1*/
.section-div-color{
    display: inline-block;
    background-color: #1598DA;
    width: 95px;
    height: 30px;
    border-radius: 5px;
    margin: 8px 0 10px 35px;
    padding: 7px;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}
/*SEZIONE DIV 2*/
.second-div-section-color{
    display: inline-block;
    background-color: white;
    border: 1px solid;
    width: 95px;
    height: 30px;
    border-radius: 5px;
    margin: 8px 0px 0px 1px;
    padding: 6px;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}

/*SEZIONE NEW TASK*/
.box-task{
    margin: 35px;
}

.task-style-tag{
    font-size: 20px ;
    margin-left: 9px;
    font-family: sans-serif;
    font-weight: bolder;
    
}

hr{
    border-top: 3px solid lightgray;
    opacity: 0.2;
}

/*SEZIONE ITEM BOX STYLE*/
.item-check{
    display: inline-block;
    border: 1px solid green;
    color: green;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    text-align: center;
    margin: 12px 0px 0px -5px;
}

.item-style{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 5px;
}

.item-box{
    background-color: #09A9ED;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 10px;
}

.second-color{
    background-color:#AB5DE6;
}
/*CROSS SECTION*/

.item-cross{
    display: inline-block;
    border: 1px solid red;
    color: red;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    text-align: center;
    margin: 12px 0px 0px -5px;
    font-size: 20px;
    line-height: 24px;
}

.third-color{
    background-color:#2CC6AB;
}

.fourth-color{
    background-color:#FF9B00;
}

.fifth-color{
    background-color:#EC4A9D;
}

.sixth-color{
    background-color:#A3D116;
}